.alert {
    background: var(--secondary-color);
}

.alert__area {
    /* font-size: 1.2em; */
    font-weight: bold;
    color: white;
    padding: 0.3em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    text-align: right;
    font-weight: bold;
}